extends layout
block content
	h1= title
	p Welcome to #{title}
	div.box
		div.count find 
			span 0 
			| ghost
		div.remain-time 
			span 60
			| s
		ul.clearfix
			li.pull-left.iconfont.icon-yumibingtacos
			li.pull-left.iconfont.icon-yumibingtacos
			li.pull-left.iconfont.icon-yumibingtacos