
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1467094975'); /* IE9*/
  src: url('iconfont.eot?t=1467094975#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1467094975') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1467094975') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1467094975#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yumibingtacos:before { content: "\e64f"; }
.icon-zhandoujifighter6:before { content: "\e650"; }
.icon-zixuanspin:before { content: "\e651"; }
.icon-shougongartisanal4:before { content: "\e652"; }
.icon-shougongartisanal:before { content: "\e653"; }
.icon-taketaco:before { content: "\e654"; }
.icon-papantelapapantla:before { content: "\e639"; }
.icon-paobuhuarache:before { content: "\e63a"; }
.icon-peidenaerpedernal:before { content: "\e63b"; }
.icon-pinatapiata:before { content: "\e63c"; }
.icon-qiwawachihuahua:before { content: "\e63d"; }
.icon-qishihorseman1:before { content: "\e63e"; }
.icon-qishihorseman:before { content: "\e63f"; }
.icon-shaqiumaracas4:before { content: "\e640"; }
.icon-shengacoustic2:before { content: "\e641"; }
.icon-shistone:before { content: "\e642"; }
.icon-shougongartisanal1:before { content: "\e643"; }
.icon-shougongartisanal2:before { content: "\e644"; }
.icon-xianrenzhangnopal:before { content: "\e64d"; }
.icon-xianrenzhangcactus3:before { content: "\e64c"; }
.icon-xilagreek11:before { content: "\e64b"; }
.icon-guakevolute:before { content: "\e64a"; }
.icon-tuerqiturkey5:before { content: "\e649"; }
.icon-touguskull23:before { content: "\e648"; }
.icon-taiyangsun61:before { content: "\e647"; }
.icon-moxigemexican7:before { content: "\e646"; }
.icon-shougongartisanal3:before { content: "\e645"; }
.icon-yizhonghualidemaozhibuzarape:before { content: "\e64e"; }
.icon-longshelanagave:before { content: "\e625"; }
.icon-longshelantequila:before { content: "\e626"; }
.icon-magelitamargarita1:before { content: "\e627"; }
.icon-mayamayan1:before { content: "\e628"; }
.icon-mayamayan:before { content: "\e629"; }
.icon-moxigemexico1:before { content: "\e62a"; }
.icon-papantelapapantla1:before { content: "\e62b"; }
.icon-paobuhuarache1:before { content: "\e62c"; }
